{%extends 'main/base.html'%}

{%block title%}
Работадатель
{%endblock%}

{%block content%}
    <!-- Site header -->

  <main>



      <!-- Recent jobs -->
      <section>
        <div class="container">
          <header class="section-header">

            <h2>Меню</h2>
          </header>

          <div class="row item-blocks-connected">

            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="{% url 'company_register'%}">
                <header>
                  <img src="assets/img/logo-google.jpg" alt="">
                  <div class="hgroup">
                    <h4>Создать Аккаунт</h4>

                  </div>

                </header>
              </a>
            </div>
            <!-- END Job item -->


            <!-- Job item -->
            <div class="col-xs-12">
              <a class="item-block" href="job-detail.html">
                <header>
                  <img src="assets/img/logo-linkedin.png" alt="">
                  <div class="hgroup">
                    <h4>О Системе</h4>

                  </div>

                </header>
              </a>
            </div>


          </div>


        </div>
      </section>
      <!-- END Recent jobs -->






    </main>
{%endblock%}

