{%extends 'students/room_base.html'%}
{%load static%}
{%block title%}
Отклики
{%endblock%}

{%block content%}
 <div class="row item-blocks-connected">
     {%for i in vacancies%}
       <div class="col-xs-12">
              <a class="item-block" href="{%url 'vacancyDetail' pk=i.vacancy.pk %}">
                <header>
                  <img src="assets/img/logo-google.jpg" alt="">
                  <div class="hgroup">
                    <h4>{{i.vacancy.name}}</h4>
                    <h5>{{i.vacancy.company.name}}</h5>

                  </div>
                  <div class="header-meta">
                    <span class="location">{{i.vacancy.city}}</span>
                      {%if i.success%}
                    <span class="label label-success">Success</span>
                      {%else%}
                        <span class="label label-warning">Wait</span>
                      {%endif%}
                  </div>
                </header>
              </a>
            </div>
     {%endfor%}
 </div>
{%endblock%}

